#product_list{
    vertical-align: middle;
}
#product_list i{
    pointer-events: none;
}
#product_list img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    border: 5px solid #fff;
}
.product_image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 15px solid #fff;
    object-fit: cover;
    box-shadow: 0 0 9px 3px #ddd;
    margin: 20px auto;
    display: block;
}
.add_new_product{
    justify-content: end;
    display: flex;
    padding-right: 20px;
}